<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
</head>
<body>
    <form method="post" th:action="@{/changePassword}">
        <label for="password">New password: </label>
        <input id="password" type="password" name="password">
        <input type="radio" id="sha" name="encrypt" value="bcrypt" checked>
        <label for="sha">SHA</label>
        <input type="radio" id="hmac" name="encrypt" value="hmac">
        <label for="sha">Hmac</label>
        <input type="submit" value="Confirm">
    </form>
</body>
</html>