<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/sign-up}" method="post" th:object="${user}">
    <table>
        <tr>
            <td><label th:for="*{login}">Login: </label></td>
            <td><input type="text" th:field="*{login}"></td>
        </tr>
        <tr>
            <td><label th:for="*{password}">Password: </label></td>
            <td><input type="password" th:field="*{password}"></td>
        </tr>
        <tr>
            <td>Password encryption type:</td>
        </tr>
        <tr>
            <td><input type="radio" id="sha" name="encrypt-type" value="bcrypt" checked>
                <label for="sha">SHA</label>
            </td>
            <td>
                <input type="radio" id="hmac" name="encrypt-type" value="hmac">
                <label for="sha">Hmac</label>
            </td>
        <tr>
            <td><input type="submit" value="Sign up"></td>
        </tr>
    </table>
</form>
</body>
</html>